.app-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  height: 62px;
  width: 966px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f9fa;
}
