@import 'styles/variables.scss';

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
  height: 82px;
  background-image: url('/assets/imgs/header-background.jpg');

  button {
    @extend %app-button;
    width: 7rem;
    height: 36px;
  }
}
