<div class="products-container">
  <!-- Dropdown with options per page -->
  <div class="products-container__pagination">
    <div class="title">Products</div>

    <div class="paginator">
      <button
        class="cursor-pointer"
        [disabled]="filter.skip === 0 || contentLoading"
        (click)="changePage('previous')"
      >
        <i class="pi pi-chevron-left"></i>
      </button>
      <span>{{ getCurrentPage() }}</span>
      <button
        class="cursor-pointer"
        [disabled]="filter.skip === total || contentLoading"
        (click)="changePage('next')"
      >
        <i class="pi pi-chevron-right"></i>
      </button>
    </div>

    <div class="results-per-page-dropdown">
      <span class="mr-3">Products per page:</span>
      <select (change)="changeProductsPerPage($event)">
        <option *ngFor="let option of LimitOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
  </div>

  <div class="products-container__list">
    <div
      *ngFor="let product of products"
      class="products-container__list__product"
    >
      <img src="{{ product.thumbnail }}" alt="" height="150" width="200" />

      <div class="products-container__list__product__info ml-4">
        <div class="title">
          {{ product.title }}
          <div class="favorite" (click)="toggleProductFavorite(product)">
            <i
              [class]="
                'pi cursor-pointer ' +
                (product.isFavorite ? 'pi-heart-fill active' : 'pi-heart')
              "
            ></i>
          </div>
        </div>
        <p class="description">{{ product.description }}</p>
        <span class="price">{{ product.price }}$</span>
      </div>
    </div>
  </div>
</div>
