@import 'styles/_variables.scss';

.products-container {
  height: 100%;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      @extend %title-font;
    }
  }

  &__list {
    height: 100%;
    overflow: auto;

    display: grid;
    gap: 1.5rem;

    &__product {
      display: flex;
      flex-direction: row;
      align-items: center;

      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 1rem;

      img {
        border-radius: 4px;
      }

      &__info {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;

        .title {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 10px;
          display: flex;

          .favorite {
            display: flex;
            color: #ccc;
            font-size: 24px;
            margin-left: 1rem;

            i:hover,
            i.active {
              color: #f00;
            }
          }
        }

        .description {
          font-size: 1rem;
          margin-top: 4px;
          width: 100%;
        }

        .price {
          font-size: 1.3rem;
          font-weight: 600;
          margin-top: 2.5rem;
        }
      }
    }
  }

  // Narrow 1 column
  @media (max-width: 1200px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // Medium 2 columns
  @media (min-width: 1201px) and (max-width: 1600px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // Wide 3 columns
  @media (min-width: 1601px) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
