<div class="login-container">
  <div class="login-container__title">
    <h1>Inicio de Sesión</h1>
  </div>

  <form [formGroup]="loginForm" class="login-container__form">
    <input
      class="w-11 mb-3 p-inputtext"
      placeholder="Usuario"
      type="text"
      formControlName="username"
    />

    <input
      class="w-11 mb-3 p-inputtext"
      placeholder="Contraseña"
      type="password"
      formControlName="password"
    />

    <button class="mx-auto" type="submit" (click)="onSubmit()">
      Iniciar Sesión
    </button>
  </form>
</div>
